<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque beatae magni hic, magnam deserunt, nisi ab tenetur nulla aspernatur maxime non veritatis sequi debitis architecto temporibus atque, quod dolor eveniet!</p>
<ul class="list-style-none">
    <li><span class="margin-right-big">0,0 – 0,1</span>Zanedbatelná závislost</li>
    <li><span class="margin-right-big">0,1 – 0,3</span>Slabá závislost</li>
    <li><span class="margin-right-big">0,3 – 0,7</span>Střední závislost</li>
    <li><span class="margin-right-big">0,7 – 1,0</span>Vysoká závislost</li>
</ul>

