<nav class="navbar navbar-default navbar-color-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">StatApp</a>
    </div>
    <ul class="nav navbar-nav text-primary">
      <li class="menu-button"><a class="text-white" routerLink="/home-component" routerLinkActive="active"><span>Domů</span></a></li>
      <li class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown">
          <span>Data</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/lection-component', 1]" well margin-top-big padding-small>Úvod</a></li>
          <li><a [routerLink]="['/lection-component', 4]" well margin-top-big padding-small>Četnostní zpracování dat</a></li>
          <li><a>Cvičení</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown">
          <span>Statistika</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/lection-component', 2]" well margin-top-big padding-small>Úvod</a></li>
          <li><a [routerLink]="['/lection-component', 3]" well margin-top-big padding-small>Statistické charakteristiky</a></li>
          <li><a>Cvičení</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown">
          <span>Demografie</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/lection-component', 5]" well margin-top-big padding-small>Úvod</a></li>
          <li><a [routerLink]="['/lection-component', 6]" well margin-top-big padding-small>Věková pyramida</a></li>
          <li><a [routerLink]="['/lection-component', 7]" well margin-top-big padding-small>Webbova typologie</a></li>
          <li><a>Cvičení</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown">
          <span>Korelační analýza</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/lection-component', 8]" well margin-top-big padding-small>Úvod</a></li>
          <li><a [routerLink]="['/lection-component', 9]" well margin-top-big padding-small>Cramerův koeficient</a></li>
          <li><a [routerLink]="['/lection-component', 10]" well margin-top-big padding-small>Kendallův koeficient</a></li>
          <li><a [routerLink]="['/lection-component', 11]" well margin-top-big padding-small>Spearmanův koeficient</a></li>
          <li><a [routerLink]="['/lection-component', 12]" well margin-top-big padding-small>Pearsonův koeficient</a></li>
          <li><a>Cvičení</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle text-white" data-toggle="dropdown">
          <span>Kvíz</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/quiz-grid-component']" well margin-top-big padding-small>Kvízy</a></li>
          <li><a>Cvičení</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!user" class="menu-button"><a (click)="displayRegister=true" well margin-top-big padding-small class="text-white"><span class="fa fa-user margin-right"></span>Registrace</a></li>
      <li *ngIf="!user" class="menu-button"><a (click)="displayLogIn=true" class="text-white"><span class="glyphicon glyphicon-log-in margin-right"></span>Přihlásit se</a></li>
      <li *ngIf="user" class="dropdown">
        <a class="dropdown-toggle text-white hover-off avatar" data-toggle="dropdown">
          <lord-icon
            src="https://cdn.lordicon.com/bhfjfgqz.json"
            trigger="hover"
            colors="primary:#ffffff,secondary:#ffffff"
            style="width:30px;height:30px; position: relative;">
          </lord-icon>
        </a>
        <ul class="dropdown-menu">
          <li><a>Profil</a></li>
          <li><a (click)="onLogOutUser()">Odhlásit se</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="col-md-12 center-content margin-bottom-big">
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
  <p-sidebar [(visible)]="displayLogIn" position="right" styleClass="p-sidebar-md">
    <app-login (user)="setUser($event)" (display)="setDisplayLogIn($event)"></app-login>
  </p-sidebar>
  <p-sidebar [(visible)]="displayRegister" position="right" styleClass="p-sidebar-lg">
    <app-register (userEntity)="setUser($event)" (display)="setDisplayRegister($event)"></app-register>
  </p-sidebar>
