<form [formGroup]="filterForm">
    <div class="col-md-12 underline">
        <h1>Filtry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Titulek</label>
                <input type="text" placeholder="Zadejte titulek dotazu" formControlName="title"  class="form-control" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Uzavřeno</label>
                <select formControlName="solved" class="form-control">
                    <option *ngFor="let type of solvedOptions; let i = index;" [ngValue]="type.value" [disabled]="i === 0">
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12" *ngIf="userId">
            <div class="form-group">
                <label>Mé dotazy</label>
                <select formControlName="id_creator" class="form-control">
                    <option *ngFor="let type of creatorOptions; let i = index;" [ngValue]="type.value" [disabled]="i === 0">
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p-button label="Filtrovat" class="margin-right-small float-right" styleClass="p-button-lg" (onClick)="onSubmit()"></p-button>
        </div>
    </div>
</form>
