.message-count-badge {
    margin-top: 2%;
    margin-left: 30%;
}

.margin-top-10px {
    margin-top: 10px;
}

.desc-text {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}