<form [formGroup]="addForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input id="title" type="text" [formControl]="choiceTitle" class="form-control" placeholder="Zadejte možnosti otázky">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" (click)="onChoiceAdd()" pTooltip="Přidat možnost" [disabled]="!choiceTitle.value">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row margin-top-small">
        <div *ngFor="let item of choices; let i = index" class="col-md-12">
            <div class="col-md-9">
                <p>{{(i + 1).toString() + '.'}} {{item.description}}</p>
            </div>
            <div class="col-md-1 text-danger" pTooltip="Označit jako správnou odpověď" *ngIf="!item.is_correct; else invalid">
                <button class="bg-transparent" (click)="onIsValidClick(i)">
                    <i class="fa fa-times fa-lg pointer-event-auto"></i>
                </button>
            </div>
            <ng-template #invalid>
                <div class="col-md-1 text-success" pTooltip="Označit jakou chybnou odpověď">
                    <button class="bg-transparent" (click)="onInvalidClick(i)">
                    <i class="fa fa-check fa-lg pointer-event-auto"></i>
                    </button>
                </div>
            </ng-template>
            <div class="col-md-2 text-danger" pTooltip="Odstranit možnost">
                <button class="bg-transparent float-right" (click)="onDeleteClick(i)">
                    <i class="fa fa-trash fa-lg pointer-event-auto"></i>
                </button>
            </div>
            <p-divider></p-divider>
        </div>
    </div>
</form>
