<form [formGroup]="filterForm">
    <div class="col-md-12 underline">
        <h1>Filtry</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Titulek</label>
                <input type="text" placeholder="Zadejte titulek dotazu" formControlName="title"  class="form-control" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Vytvořil</label>
                <input type="text" placeholder="Zadejte nick uživatele" formControlName="creator"  class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p-button label="Filtrovat" class="margin-right-small float-right" styleClass="p-button-lg" (onClick)="onSubmit()"></p-button>
        </div>
    </div>
</form>
